*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #fafafa;   
}

.mainContent{
    display: flex;
}

.coffee {
    height: 100vh;
    width: 50vw;
}

.rightsideHeader{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 50px;
    font-weight: 900;
}

.formHeader{
    font-weight: 900;
    padding-left: 10%;
}

.formContainer {
    background-color: white;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
}

input {
    border: 2px solid gray;
    color: #333;
    border-radius: 0.2rem;
    margin: 15px;
  }


form {
    display: flex;
    flex-direction: row wrap;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

label {
    display: inline-block;
    width:100px;
}

button {
    margin-top: 50px;
    padding: 15px 25px 15px 25px;
    font-size: medium;
    border-radius: 12px;
    background-color: #fafafa;
    color: black;
    border: 2px solid #e7e7e7;
}

button:hover {background-color: burlywood;}
  
.buttonLogIn {
    margin-left: 10%;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    background-color: burlywood;
}

